  h1 {
        color: black;
        font-size: 100px;
        background-color: greenyellow;
        font-family: "Arial";
      }

      p{
        font-size: 90px;
        font-family: "Arial";
      }

      span{
        color: white;
        background-color: greenyellow;
      }